.app-header-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: $palette-indigo-900;
}
