.background-wave {
  display: flex;
  // background: url("../../img/background-wave.svg");
  // background-position: bottom;
  // background-repeat: no-repeat;
  // background-size: auto;
  width: 100%;

  // margin-bottom: 0;
  padding: 0;
  margin: 0;
  margin-top: -50px;

  img {
    width: 200%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
