.card {
  background: white;
  border-radius: $base-border-radius * 2;
  box-shadow: $shadow-xl;
  padding: 0.5em;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
