button {
  a {
    text-decoration: none;
    color: white;
  }
}

.btn-primary {
  background-color: $palette-indigo-800;
  border: none;
  color: white;
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  border-radius: $base-border-radius;

  cursor: pointer;

  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  i {
    margin-right: 2px;
    margin-left: -10px;
  }

  &:hover {
    background-color: $palette-indigo-600;
  }

  &.outline {
    background-color: transparent;
    color: $palette-indigo-800;
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid $palette-indigo-800;

    &:hover {
      border: 1px solid $palette-indigo-600;
      color: $palette-indigo-600;
    }
  }

  &.link-only {
    background-color: transparent;
    border: none;
    padding-left: 2em;
    padding-right: 2em;
    color: $palette-indigo-600;

    &:hover {
      color: $palette-indigo-600;

      i {
        text-decoration: none !important;
      }
    }
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
  button {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-block {
  width: 100%;
  height: 56px;
}
