.input-group {
  margin-bottom: 2rem;

  label {
    font-weight: 500;
    color: $palette-trueGray-700;

    font-size: 1.1em;
  }

  .caption {
    margin-bottom: 0.5em;
    color: $palette-trueGray-600;
  }

  .validation {
  }

  input {
  }
}

.input-group-inline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;

  input[type="password"],
  input[type="text"],
  input[number],
  select {
    margin-right: 0.2em;
  }

  input[type="checkbox"],
  input[type="radio"] {
    appearance: none;
    display: flex;
    border-radius: 3px;
    flex: 0 0 24px;
    position: relative;
    width: 24px;
    height: 24px;
    // flex-basis: 24px;
    margin-right: 0.5em;
    margin-top: 0.1em;
    border: 2px solid $palette-trueGray-300;
    cursor: pointer;
  }

  label {
    cursor: pointer;
  }
}

input[type="password"],
input[type="text"],
input[number],
select {
  width: 100%;
  // border: 1px solid $palette-trueGray-200;
  border: 2px solid $palette-trueGray-300;
  // background: $palette-trueGray-100;
  color: $palette-trueGray-900;
  margin: 0;
  // padding: .5em .5em;
  text-decoration: none;
  border-radius: $base-border-radius;
  cursor: pointer;
  height: 56px;
  display: flex;

  padding-left: 0.5em;
  padding-right: 0.5em;

  &:focus {
    outline: none;
    border: 2px solid $palette-indigo-400;
    border-radius: $base-border-radius;
  }

  &::-webkit-input-placeholder {
    /* Edge */
    color: $palette-trueGray-500;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $palette-trueGray-500;
  }

  &::placeholder {
    color: $palette-trueGray-500;
  }
}

textarea {
  border: 2px solid $palette-trueGray-200;
  color: $palette-trueGray-900;
  margin: 0;
  text-decoration: none;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: flex;
  padding: 0.5em;

  &:focus {
    outline: none;
    border: 1px solid $palette-indigo-400;
    border-radius: $base-border-radius;
  }

  &::-webkit-input-placeholder {
    /* Edge */
    color: $palette-trueGray-500;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $palette-trueGray-500;
  }

  &::placeholder {
    color: $palette-trueGray-500;
  }
}

label {
  display: block;
  color: $palette-trueGray-700;
  margin-bottom: 0.25em;
}

.input-field {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;

  .input-icon-left {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1em;

    svg {
      fill: $palette-coolGray-400;
    }

    &.disabled {
      svg {
        fill: $palette-trueGray-300;
      }
    }
  }
  input {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .input-icon-right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1em;

    svg {
      fill: $palette-coolGray-500;
    }
  }
}
